# Virtual Environment
.venv/

# Caches
__pycache__/
*.pyc

# Testing
.coverage

# Instance folder (for database, etc.)
instance/

# Logs
app.log

# GitHub Actions
.github/

# Project Documentation
GEMINI.md

# Media Files
media_library/